// min and max width
$min-width: 720px;
$max-width: 1440px;

// color
$color-font: #fff;
$color-background: #000;
$color-background-point: #F9192C;
$color-background--hover1: darken($color-background, 7%);
$color-background--hover2: darken($color-background, 14%);
$color-border: rgb(115, 0, 0);
$color-icon: #99958A;